[submodule "_vim/bundle/fugitive"]
    path = _vim/bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/surround"]
    path = _vim/bundle/surround
    url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/git"]
    path = _vim/bundle/git
    url = https://github.com/tpope/vim-git.git
[submodule "_vim/bundle/pyflakes"]
    path = _vim/bundle/pyflakes
    url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "_vim/bundle/pydoc"]
    path = _vim/bundle/pydoc
    url = https://github.com/fs111/pydoc.vim.git
[submodule "_vim/bundle/pep8"]
    path = _vim/bundle/pep8
    url = https://github.com/vim-scripts/pep8.git
[submodule "_vim/bundle/pytest"]
    path = _vim/bundle/pytest
    url = https://github.com/alfredodeza/pytest.vim.git
[submodule "_vim/bundle/tasklist"]
    path = _vim/bundle/tasklist
    url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "_vim/bundle/nerdtree"]
    path = _vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree
[submodule "_vim/bundle/ropevim"]
    path = _vim/bundle/ropevim
    url = https://github.com/python-rope/ropevim.git
[submodule "_vim/bundle/vim-less"]
    path = _vim/bundle/vim-less
    url = https://github.com/groenewege/vim-less.git
[submodule "_vim/bundle/vim-css-color"]
    path = _vim/bundle/vim-css-color
    url = https://github.com/ap/vim-css-color.git
[submodule "_vim/bundle/syntastic"]
    path = _vim/bundle/syntastic
    url = https://github.com/vim-syntastic/syntastic
[submodule "_vim/bundle/tagbar"]
    path = _vim/bundle/tagbar
    url = https://github.com/majutsushi/tagbar
[submodule "_vim/bundle/tablemode"]
    path = _vim/bundle/tablemode
    url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "_vim/bundle/tabular"]
    path = _vim/bundle/tabular
    url = https://github.com/godlygeek/tabular.git
[submodule "_vim/bundle/powerline"]
    path = _vim/bundle/powerline
    url = https://github.com/powerline/powerline.git
[submodule "_git-scripts"]
    path = _git-scripts
    url = https://github.com/jwiegley/git-scripts
[submodule "_vim/bundle/dbext"]
    path = _vim/bundle/dbext
    url = https://github.com/vim-scripts/dbext.vim.git
[submodule "_vim/bundle/vim-coffee-script"]
    path = _vim/bundle/vim-coffee-script
    url = https://github.com/kchmck/vim-coffee-script.git
[submodule "_vim/bundle/vim-distinguished"]
    path = _vim/bundle/vim-distinguished
    url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "_vim/bundle/vim-ruby"]
    path = _vim/bundle/vim-ruby
    url = https://github.com/vim-ruby/vim-ruby.git
[submodule "_vim/bundle/vim-gist"]
    path = _vim/bundle/vim-gist
    url = https://github.com/mattn/gist-vim.git
[submodule "_vim/bundle/vim-yaml"]
    path = _vim/bundle/vim-yaml
    url = https://github.com/avakhov/vim-yaml.git
[submodule "_vim/bundle/vimwiki"]
    path = _vim/bundle/vimwiki
    url = https://github.com/vimwiki/vimwiki.git
[submodule "_vim/bundle/colorschemes"]
    path = _vim/bundle/colorschemes
    url = https://github.com/flazz/vim-colorschemes.git
[submodule "_vim/bundle/vim-gocode"]
    path = _vim/bundle/vim-gocode
    url = https://github.com/Blackrush/vim-gocode.git
[submodule "_vim/bundle/vim-go"]
    path = _vim/bundle/vim-go
    url = https://github.com/fatih/vim-go.git
[submodule "_vim/bundle/python-mode"]
    path = _vim/bundle/python-mode
    url = git://github.com/klen/python-mode.git
[submodule "_vim/bundle/jedi-vim"]
    path = _vim/bundle/jedi-vim
    url = https://github.com/davidhalter/jedi-vim
[submodule "_vim/bundle/vim-rbenv"]
    path = _vim/bundle/vim-rbenv
    url = git://github.com/tpope/vim-rbenv.git
[submodule "_vim/bundle/alchemist"]
    path = _vim/bundle/alchemist
    url = https://github.com/slashmili/alchemist.vim.git
[submodule "_vim/bundle/vim-elixir"]
    path = _vim/bundle/vim-elixir
    url = https://github.com/elixir-lang/vim-elixir.git
[submodule "_vim/bundle/vim-misc"]
    path = _vim/bundle/vim-misc
    url = https://github.com/xolox/vim-misc.git
[submodule "_vim/bundle/vim-tags"]
    path = _vim/bundle/vim-tags
    url = https://github.com/szw/vim-tags.git
[submodule "_vim/bundle/vim-syntastic"]
    path = _vim/bundle/vim-syntastic
    url = https://github.com/vim-syntastic/syntastic.git
[submodule "_vim/bundle/vim-rails"]
    path = _vim/bundle/vim-rails
    url = https://github.com/tpope/vim-rails
[submodule "_vim/bundle/vim-slim"]
    path = _vim/bundle/vim-slim
    url = https://github.com/slim-template/vim-slim.git
[submodule "_vim/bundle/vim-fugitive"]
    path = _vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive
[submodule "_vim/bundle/vim-easytags"]
    path = _vim/bundle/vim-easytags
    url = https://github.com/xolox/vim-easytags
[submodule "_vim/bundle/ctrlp.vim"]
    path = _vim/bundle/ctrlp.vim
    url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "_vim/bundle/tabline.vim"]
    path = _vim/bundle/tabline.vim
    url = https://github.com/mkitt/tabline.vim
[submodule "_vim/bundle/neocomplete.vim"]
    path = _vim/bundle/neocomplete.vim
    url = https://github.com/Shougo/neocomplete.vim
[submodule "_vim/bundle/fzf"]
    path = _vim/bundle/fzf
    url = https://github.com/junegunn/fzf
[submodule "_vim/bundle/fzf.vim"]
    path = _vim/bundle/fzf.vim
    url = https://github.com/junegunn/fzf.vim
[submodule "_vim/bundle/vim-sleuth"]
    path = _vim/bundle/vim-sleuth
    url = https://github.com/tpope/vim-sleuth
[submodule "_vim/bundle/gruvbox"]
	path = _vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "misc/gruvbox-idea"]
	path = jetbrains-themes/gruvbox-idea
	url = git@github.com:caleb/gruvbox-idea
[submodule "_vim/bundle/lightline.vim"]
	path = _vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "_vim/bundle/vim-buftabline"]
	path = _vim/bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "_vim/bundle/Align"]
	path = _vim/bundle/Align
	url = https://github.com/vim-scripts/Align
	ignore = dirty
[submodule "_vim/bundle/nerdcommenter"]
	path = _vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "_vim/bundle/vim-toml"]
	path = _vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "_vim/bundle/vim-test"]
	path = _vim/bundle/vim-test
	url = https://github.com/janko/vim-test
[submodule "_vim/bundle/vim-dirvish"]
	path = _vim/bundle/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "_vim/bundle/vim-javascript"]
	path = _vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "_vim/bundle/limelight.vim"]
	path = _vim/bundle/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "_vim/bundle/ale"]
	path = _vim/bundle/ale
	url = https://github.com/dense-analysis/ale
[submodule "_vim/bundle/vim-easy-align"]
	path = _vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "_vim/bundle/YouCompleteMe"]
	path = _vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "_vim/bundle/i3config.vim"]
	path = _vim/bundle/i3config.vim
	url = https://github.com/mboughaba/i3config.vim
[submodule "_vim/bundle/vim-todo-lists"]
	path = _vim/bundle/vim-todo-lists
	url = https://github.com/aserebryakov/vim-todo-lists
[submodule "_vim/bundle/vim-jsx-typescript"]
	path = _vim/bundle/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule "_vim/bundle/starlark.vim"]
	path = _vim/bundle/starlark.vim
	url = https://github.com/cappyzawa/starlark.vim
[submodule "_vim/bundle/thrift.vim"]
	path = _vim/bundle/thrift.vim
	url = https://github.com/solarnz/thrift.vim
[submodule "_vim/bundle/vimspector"]
	path = _vim/bundle/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "_vim/bundle/vim-gitgutter"]
	path = _vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "_asdf"]
	path = _asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "_vim/bundle/vim-rhubarb"]
	path = _vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "_vim/bundle/vim-yaml-folds"]
	path = _vim/bundle/vim-yaml-folds
	url = https://github.com/pedrohdz/vim-yaml-folds
[submodule "_vim/bundle/vim-markdown"]
	path = _vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "_vim/bundle/vim-gh-line"]
	path = _vim/bundle/vim-gh-line
	url = https://github.com/ruanyl/vim-gh-line
[submodule "_vim/bundle/vim-devicons"]
	path = _vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "_vim/bundle/vim-nerdtree-syntax-highlight"]
	path = _vim/bundle/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
