[submodule "_vim/bundle/gundo"]
	path = _vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/snipmate"]
	path = _vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/git"]
	path = _vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "_vim/bundle/command-t"]
	path = _vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "_vim/bundle/pyflakes"]
	path = _vim/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "_vim/bundle/ack"]
	path = _vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "_vim/bundle/pydoc"]
	path = _vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "_vim/bundle/pep8"]
	path = _vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "_vim/bundle/pytest"]
	path = _vim/bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "_vim/bundle/makegreen"]
	path = _vim/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "_vim/bundle/tasklist"]
	path = _vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/ropevim"]
	path = _vim/bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
[submodule "_vim/bundle/acp"]
	path = _vim/bundle/acp
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "_vim/bundle/solarized"]
	path = _vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/minibufexpl"]
	path = _vim/bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "_vim/bundle/vim-less"]
	path = _vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "_vim/bundle/vim-css-color"]
	path = _vim/bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "_vim/bundle/syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "_vim/bundle/tablemode"]
	path = _vim/bundle/tablemode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "_vim/bundle/tabular"]
	path = _vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "_vim/bundle/powerline"]
	path = _vim/bundle/powerline
	url = git://github.com/alisaifee/powerline.git
[submodule "_git-scripts"]
	path = _git-scripts
	url = https://github.com/jwiegley/git-scripts
[submodule "_vim/bundle/dbext"]
	path = _vim/bundle/dbext
	url = git://github.com/vim-scripts/dbext.vim.git
[submodule "_vim/bundle/vim-rst-tables"]
	path = _vim/bundle/vim-rst-tables
	url = git://github.com/nvie/vim-rst-tables.git
[submodule "_vim/bundle/vim-coffee-script"]
	path = _vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "_vim/bundle/vim-distinguished"]
	path = _vim/bundle/vim-distinguished
	url = git@github.com:Lokaltog/vim-distinguished.git
[submodule "_vim/bundle/vim-golang"]
	path = _vim/bundle/vim-golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "_vim/bundle/actionscript"]
	path = _vim/bundle/actionscript
	url = git@github.com:jeroenbourgois/vim-actionscript.git
[submodule "_vim/bundle/vim-preview"]
	path = _vim/bundle/vim-preview
	url = git@github.com:greyblake/vim-preview.git
[submodule "_vim/bundle/vim-ruby"]
	path = _vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "_vim/bundle/ctrlp"]
	path = _vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "_vim/bundle/neocomplete"]
	path = _vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule "_vim/bundle/vim-rvm"]
	path = _vim/bundle/vim-rvm
	url = git://github.com/tpope/vim-rvm.git
